* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif
}


h1 {
    text-align: center;
    color: rgb(243,160,77);
    font-size: 50px;
}

header {
    text-align: center;
}

.header {
    background-color: #344762;
}
.cart {
    text-align: right;
}

nav li {
    display: inline;
    padding: 0px 15px;
}


li:hover {
    border: solid 3px black;
}

a {
    text-decoration: none;
    color: black;
}
img {
    margin-left: auto;
    margin-right: auto;
}


  /*.container {
    background-color: rgb(226, 222, 222);
  }*/

  .grid-container {
    display: grid;
    margin:1rem;
    justify-content: space-evenly;
    grid-gap: 1.5rem;  
    grid-template-columns: auto auto auto auto;
}

.info {
    text-align: center;
}

.filter {
    text-align: right;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}